body {
    background-image: url(../images/90s_cartoons.jpg);
    margin: 0 auto;
}
#section {
    color: #000000;
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    opacity: 0.8;
    background-color: aliceblue;
    height: 250px;
    padding-top: 80px;
    margin-bottom: 50px;
}

#start {
    position: absolute;
    left: 45%;
    height: 75px;
    width: 200px;
    font-size: 25px;
    background: linear-gradient(90deg, #03a9f4, #FF0000, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

#start:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

#start:before {
     content: '';
     position: absolute;
     top: -5px;
     left: -5px;
     right: -5px;
     bottom: -5px;
     z-index: -1;
     background: linear-gradient(90deg, #03a9f4, #FF0000, #ffeb3b, #03a9f4);
     background-size: 400%;
     border-radius: 40px;
     opacity: 0;
     transition: 0.5s; 
}

#start:hover:before {
    filter: blur(20px);
    opacity: 1;
}

#subSection {
    text-align: center;
    background-color: aliceblue;
    opacity: 0.9;
    height: 500px; 
    padding-top: 80px;
}

.answer-button {
    vertical-align: middle;
    padding: 10px;
    text-align: center;
    width: 200px;
}

h2 {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 20px;
    animation: animate 8s linear infinite;
}

